@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    background-color: #070618;
}

.navbar-brand {
    font-weight: 600;
    font-size: 22px;
}

.logo-img {
    width: 50px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.mid-container {
    height: 79vh;
    width: 100%;
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.bottom {
    position: absolute;
    bottom: 0;
    background-color: #070618;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#myProgressBar {
    width: 80vw;
}
.icons i{
    color: white;
    margin: 5px;
}