@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

nav {
    font-family: 'Poppins', sans-serif;
    background-color: #070618;
}

.navbar-brand {
    font-weight: 600;
    font-size: 22px;
}

.logo-img {
    width: 50px;
}

.selector-for-some-widget {
    box-sizing: content-box;
}

.mid-container {
    height: 79vh;
    width: 100%;
    background-image: url(./bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    font-family: 'Lobster', cursive;
}

.middlePart {
    border-radius: 12px;
    height: 90%;
    max-width: 60vw;
    background-color: #070618;
    display: flex;  
    flex-direction: column;
    /* border: 3px solid red; */

}

.middlePartRow {
    height: 100%;
    display: flex ;  
}

.firstCol {
    height: 100%;

}

.secondCol {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.secondCol img {
    width: 100%;
    padding: 0 1rem;
    border: 3px solid rgb(34, 33, 33);
    border-radius: 40px;
}

.songsList {
    height: 88%;
    overflow-x: auto;
    /* overflow-y: scroll; */
}

.songsList::-webkit-scrollbar {
    display: none;
}

.songInfo {
    background-color: white;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 1rem;
    font-size: 20px;
    border-radius: 12px;
    margin: .8rem 0;
}


.durationPlay {
    display: flex;
    /* width: 5rem; */
    min-width: 5rem;
    align-items: center;
    justify-content: space-between;

}

.bottom {
    position: absolute;
    bottom: 0;
    background-color: #070618;
    width: 100vw;
    height: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

#myProgressBar {
    margin-top: .5rem;
    width: 80vw;
}

.icons i {
    color: white;
    margin: 5px;
}

.gif {
    position: absolute;
    left: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.gif img {
    width: 50px;
}

#musicName {
    margin-left: .5rem;
}

@media (max-width:768px) {
     .secondCol{
        display: none;
     }
}
@media (max-width:720px) {
    #myprogressBar{
        margin-top: .4rem;
    }
    .bottom{
        /* flex-direction: column; */
        /* justify-content: center; */
        /* align-items: center; */
        height: 6rem;
    }
    .icons{
        margin-bottom: -.2rem;
    }
    .gif {
        position: relative;
        margin-right: 19%;

    }
}
@media (max-width:575px) {
    .middlePart {
        max-width: 85vw;
    
    }
    .durationPlay{
        min-width: 4rem;
    }
}
@media (max-width:465px) {
    .songInfo{
        font-size: 17px;
    }
}